*.sql

.vscode
TODO.md

/frontend/dist/

/frontend/.astro/
/frontend/node_modules/

/frontend/npm-debug.log*
/frontend/yarn-debug.log*
/frontend/yarn-error.log*
/frontend/pnpm-debug.log*

/frontend/.env
/frontend/.env.production

/frontend/.DS_Store

*.pem

.env