---
import "@fontsource/roboto"
export interface Props {
	title: string;
}
const { title } = Astro.props

import Navbar from "../components/Navbar.astro"
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<Navbar />
		<slot />
	</body>
</html>
<style is:global>
	:root {
		--accent: 124, 58, 237;
		--accent-gradient: linear-gradient(45deg, rgb(var(--accent)), #da62c4 30%, white 60%);
		--Mobile_Padding: 0 .3rem;
		--Element_Bottom_Margin: .7rem;
		--Primary_Color: #5C8DFF;
		--Navbar_Height: 3rem;
	}
	*{
		font-family: "Roboto", sans-serif;
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}
	main{
		padding: var(--Mobile_Padding);
		min-height: calc(100vh - var(--Navbar_Height));
		min-width: 100vw;
	}
	html {
		font-family: system-ui, sans-serif;
		background-color: #F6F6F6;
	}
	code {
		font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
			Bitstream Vera Sans Mono, Courier New, monospace;
	}
	a{
		text-decoration: none;
		color: black;
	}
	button{
		border: none;
	}

	input:focus{
		outline: none;
	}

	.hidden{
		display: none;
	}
	#hidden{
		display: none;
	}
</style>
